<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Mahasiswa</title>
    <link href="https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <div class="header">
        <li><a href="#">E-Learning</a></li>
        <div class="navbar-profile">
            <p>Nama Lengkap</p>
        </div>
    </div>
    <div class="container">
        <div class="sidebar">
            <div class="status">
                <div class="status-img">
                    <img src="/img/profile.png" alt="profile">
                </div>
                <div class="status-content">
                    <p>Nama</p>
                    <p>Role</p>
                    <p>Status (Online/Offline)</p>
                </div>
            </div>
            <div class="dashboard" style="background: #c2cac4;">
                <a href="/dashboard-mahasiswa">Dashboard</a>
            </div>
            <div class="materi" >
                <a href="#">Materi</a>
            </div>
            <div class="tugas">
                <a href="/jadwal-mahasiswa">Jadwal Kuliah</a>
            </div>
            <div class="nilai">
                <a href="/nilai-mahasiswa">Nilai</a>
            </div>
            <div class="profile">
                <a href="/profile-mahasiswa">Profile</a>
            </div>
        </div>
        <div class="content">
            <div class="judul">
                <h1>Mata Kuliah</h1>
            </div>
            <div class="container-matkul">
                <div class="col">
                    <div class="row">
                        <a href="/matkul-mahasiswa">Matkul 1</a>
                    </div>
                    <div class="row">
                        <a href="#">Matkul 2</a>
                    </div>
                    <div class="row">
                        <a href="#">Matkul 3</a>
                    </div>
                    <div class="row">
                        <a href="#">Matkul 4</a>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <a href="#">Matkul 5</a>
                    </div>
                    <div class="row">
                        <a href="#">Matkul 6</a>
                    </div>
                    <div class="row">
                        <a href="#">Matkul 7</a>
                    </div>
                    <div class="row">
                        <a href="#">Matkul 8</a>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <a href="#">Matkul 9</a>
                    </div>
                    <div class="row">
                        <a href="#">Matkul 10</a>
                    </div>
                    <div class="row">
                        <a href="#">Matkul 11</a>
                    </div>
                    <div class="row">
                        <a href="#">Matkul 12</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="test"></div>
    
</body>
</html>