<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Materi</title>
    <link href="https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <div class="header">
        <li><a href="#">E-Learning</a></li>
        <div class="navbar-profile">
            <p>Nama Lengkap</p>
        </div>
    </div>
    <div class="container">
        <div class="sidebar">
            <div class="status">
                <div class="status-img">
                    <img src="/img/profile.png" alt="profile">
                </div>
                <div class="status-content">
                    <p>Nama</p>
                    <p>Role</p>
                    <p>Status (Online/Offline)</p>
                </div>
            </div>
            <div class="dashboard" >
                <a href="/dashboard-dosen">Dashboard</a>
            </div>
            <div class="materi" >
                <a href="#">Materi</a>
            </div>
            <div class="tugas" style="background: #c2cac4;">
                <a href="#">Jadwal Ngajar</a>
            </div>
            <div class="profile">
                <a href="/profile-dosen">Profile</a>
            </div>
        </div>
        <div class="content">
            <div class="judul">
                <h1>Jadwal Ngajar</h1>
            </div>
            <div class="jadwal-kuliah">
                <div class="jadwal-row">
                    <div class="hari">
                        <p>Mata Kuliah</p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                </div>
                <div class="jadwal-row">
                    <div class="hari">
                        <p>Kelas</p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                </div>
                <div class="jadwal-row">
                    <div class="hari">
                        <p>SKS</p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                </div>
                <div class="jadwal-row">
                    <div class="hari">
                        <p>Ruang</p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                </div>
                <div class="jadwal-row">
                    <div class="hari">
                        <p>Hari</p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                </div>
                <div class="jadwal-row">
                    <div class="hari">
                        <p>Waktu</p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                    <div class="jadwal-col">
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="test"></div>
    
</body>
</html>